# Advanced Databases - project
## Cyber-Physical Systems
#### Authors: Rafał Bieszczad, Bartłomiej Gondek, Monika Król, Maciej Stępień

**Table of contents**
1. Part 1 - Overview
2. Part 2 - Dataset into DataFrame
3. Part 3 - Classes
4. Part 4 - Insert dataset inside classes
5. Part 5 - Check if works

## Part 1 - Overview
**Code** is avalible on [GitHub](https://github.com/TheLightPhoenix/ADBProject).\
Database is based on "*Electronic card transactions: May 2020*" **data** taken from [this website](https://www.stats.govt.nz/information-releases/electronic-card-transactions-may-2020).

## Part 2 - Dataset into DataFrame

In [272]:
from sqlalchemy import create_engine

database_type = "postgresql"
user = "postgres"
password = "#_1234"
database_url = "localhost"
port = 5432
database_name = "postgres"
db_string = "{:s}://{:s}:{:s}@{:s}:{:d}/{:s}".format(database_type, user, password, database_url, port, database_name)

engine = create_engine(db_string)

In [273]:
import pandas as pd

df = pd.read_csv("../working_data/electronic-card-transactions-may-2020-csv-tables.csv")

In [274]:
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,ECTA.S19A1,2001.03,2462.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
1,ECTA.S19A1,2002.03,17177.2,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
2,ECTA.S19A1,2003.03,22530.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
3,ECTA.S19A1,2004.03,28005.1,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
4,ECTA.S19A1,2005.03,30629.6,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN

## Part 3 - Classes

In [275]:
ln = lambda a : len(a)

In [276]:
head = "|{:16s}|{:8s}|{:12s}|".format('col name',
                                   'max len',
                                   'unique vals')

In [277]:
print(head)
print('-'*len(head))

for i in df.columns:
    try:
        print("|{:16s}|{:8d}|{:12d}|".format(i,
                                          max(df[i].apply(ln)),
                                          len(pd.unique(df[i])) ) )
    except TypeError:
        print("|{:16s}".format(i)
              +"|"
              +" "*7
              +"-"
              +"|{:12d}|".format(len(pd.unique(df[i]))) )

|col name        |max len |unique vals |
----------------------------------------
|Series_reference|      12|         137|
|Period          |       -|         245|
|Data_value      |       -|       11679|
|Suppressed      |       -|           2|
|STATUS          |       1|           4|
|UNITS           |       7|           3|
|Magnitude       |       -|           2|
|Subject         |      45|           1|
|Group           |      69|           5|
|Series_title_1  |      19|           3|
|Series_title_2  |      59|          20|
|Series_title_3  |       -|           6|
|Series_title_4  |       -|           1|
|Series_title_5  |       -|           1|

In [278]:
from sqlalchemy import (Column,
                        Date,
                        Integer,
                        Float,
                        String)
from sqlalchemy import ForeignKey
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [279]:
class Transactions(Base):
    __tablename__ = "transactions"
    id                  = Column(Integer, primary_key=True)
    id_Series_reference = Column(Integer, ForeignKey("series_references.id"))
    Period              = Column(Date)
    Data_value          = Column(Float)
    Suppressed          = Column(String(1))
    STATUS              = Column(String(1))
    id_UNITS            = Column(Integer, ForeignKey("units.id"))
    Magnitude           = Column(Integer)
    id_Subject          = Column(Integer, ForeignKey("subjects.id"))
    id_Group            = Column(Integer, ForeignKey("groups.id"))
    id_Series_title_1   = Column(Integer, ForeignKey("series_titles_1.id"))
    id_Series_title_2   = Column(Integer, ForeignKey("series_titles_2.id"))
    id_Series_title_3   = Column(Integer, ForeignKey("series_titles_3.id"))

    def __repr__(self):
        return "<match_results(id={}\
                               id_Series_reference={}\
                               Period={}\
                               Data_value={}\
                               Suppressed={}\
                               STATUS={}\
                               id_UNITS={}\
                               Magnitude={}\
                               id_Subject={}\
                               id_Group={}\
                               id_Series_title_1={}\
                               id_Series_title_2={}\
                               id_Series_title_3={}".format(self.id,
                                                            self.id_Series_reference,
                                                            self.Period,
                                                            self.Data_value,
                                                            self.Suppressed,
                                                            self.STATUS,
                                                            self.id_UNITS,
                                                            self.Magnitude,
                                                            self.id_Subject,
                                                            self.id_Group,
                                                            self.id_Series_title_1,
                                                            self.id_Series_title_2,
                                                            self.id_Series_title_3)

In [280]:
class Series_reference(Base):
    __tablename__ = "series_references"

    id = Column(Integer, primary_key=True)
    series_reference = Column(String(12))

    def __repr__(self):
        return "<match_results(id='{}', \
                               series_reference={})>".format(self.id,
                                                             self.Series_reference)

In [281]:
class Unit(Base):
    __tablename__ = "units"

    id = Column(Integer, primary_key=True)
    unit = Column(String(10))

    def __repr__(self):
        return "<match_results(id='{}', \
                               units={})>".format(self.id,
                                                  self.units)

In [282]:
class Subject(Base):
    __tablename__ = "subjects"

    id = Column(Integer, primary_key=True)
    subject = Column(String(50))

    def __repr__(self):
        return "<match_results(id='{}', \
                               subject={})>".format(self.id,
                                                    self.subject)

In [283]:
class Group(Base):
    __tablename__ = "groups"

    id = Column(Integer, primary_key=True)
    group = Column(String(70))

    def __repr__(self):
        return "<match_results(id='{}', \
                               group={})>".format(self.id,
                                                  self.group)

In [284]:
class Series_title_1(Base):
    __tablename__ = "series_titles_1"

    id = Column(Integer, primary_key=True)
    series_title_1  = Column(String(75))

    def __repr__(self):
        return "<match_results(id='{}', \
                               series_title_1={})>".format(self.id,
                                                           self.series_title_1)

In [285]:
class Series_title_2(Base):
    __tablename__ = "series_titles_2"

    id = Column(Integer, primary_key=True)
    series_title_2  = Column(String(60))

    def __repr__(self):
        return "<match_results(id='{}', \
                               series_title_2={})>".format(self.id,
                                                           self.series_title_2)

In [286]:
class Series_title_3(Base):
    __tablename__ = "series_titles_3"

    id = Column(Integer, primary_key=True)
    series_title_3  = Column(String(75))


    def __repr__(self):
        return "<match_results(id='{}', \
                               series_title_3={})>".format(self.id,
                                                           self.series_title_3)

## Part 4 - Insert dataset inside classes

In [287]:
df.loc[(df['Series_title_3'].isna()), 'Series_title_3'] = '-'

In [288]:
series_reference_list = pd.DataFrame(df['Series_reference'].unique(), columns=['series_reference'])
series_reference_list.index.name = 'id'

unit_list = pd.DataFrame(df['UNITS'].unique(), columns=['unit'])
unit_list.index.name = 'id'

subject_list = pd.DataFrame(df['Subject'].unique(), columns=['subject'])
subject_list.index.name = 'id'

group_list = pd.DataFrame(df['Group'].unique(), columns=['group'])
group_list.index.name = 'id'

series_title_1_list = pd.DataFrame(df['Series_title_1'].unique(), columns=['series_title_1'])
series_title_1_list.index.name = 'id'

series_title_2_list = pd.DataFrame(df['Series_title_2'].unique(), columns=['series_title_2'])
series_title_2_list.index.name = 'id'

series_title_3_list = pd.DataFrame(df['Series_title_3'].unique(), columns=['series_title_3'])
series_title_3_list.index.name = 'id'

In [289]:
transactions_list = df[['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS', 'UNITS', 'Magnitude', 'Subject', 'Group', 'Series_title_1', 'Series_title_2', 'Series_title_3']].drop_duplicates().reset_index().drop(columns = ['index'])
transactions_list.index.name = 'id'

transactions_list = transactions_list.rename(columns = {'Series_reference':'id_Series_reference'})
transactions_list = transactions_list.rename(columns = {'UNITS':'id_UNITS'})
transactions_list = transactions_list.rename(columns = {'Subject':'id_Subject'})
transactions_list = transactions_list.rename(columns = {'Group':'id_Group'})
transactions_list = transactions_list.rename(columns = {'Series_title_1':'id_Series_title_1'})
transactions_list = transactions_list.rename(columns = {'Series_title_2':'id_Series_title_2'})
transactions_list = transactions_list.rename(columns = {'Series_title_3':'id_Series_title_3'})

transactions_list['id_Series_reference'] = transactions_list['id_Series_reference'].map(lambda x:  series_reference_list[series_reference_list['series_reference'] == x].index.values.astype(int)[0])
transactions_list['id_UNITS'] = transactions_list['id_UNITS'].map(lambda x:  unit_list[unit_list['unit'] == x].index.values.astype(int)[0])
transactions_list['id_Subject'] = transactions_list['id_Subject'].map(lambda x:  subject_list[subject_list['subject'] == x].index.values.astype(int)[0])
transactions_list['id_Group'] = transactions_list['id_Group'].map(lambda x:  group_list[group_list['group'] == x].index.values.astype(int)[0])
transactions_list['id_Series_title_1'] = transactions_list['id_Series_title_1'].map(lambda x:  series_title_1_list[series_title_1_list['series_title_1'] == x].index.values.astype(int)[0])
transactions_list['id_Series_title_2'] = transactions_list['id_Series_title_2'].map(lambda x:  series_title_2_list[series_title_2_list['series_title_2'] == x].index.values.astype(int)[0])
transactions_list['id_Series_title_3'] = transactions_list['id_Series_title_3'].map(lambda x:  series_title_3_list[series_title_3_list['series_title_3'] == x].index.values.astype(int)[0])

transactions_list

,id_Series_reference,Period,Data_value,Suppressed,STATUS,id_UNITS,Magnitude,id_Subject,id_Group,id_Series_title_1,id_Series_title_2,id_Series_title_3
id,,,,,,,,,,,,
0,0,2001.03,2462.5,NaN,F,0,6,0,0,0,0,0
1,0,2002.03,17177.2,NaN,F,0,6,0,0,0,0,0
2,0,2003.03,22530.5,NaN,F,0,6,0,0,0,0,0
3,0,2004.03,28005.1,NaN,F,0,6,0,0,0,0,0
4,0,2005.03,30629.6,NaN,F,0,6,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16914,136,2019.03,43.5,NaN,F,2,0,0,3,0,19,3
16915,136,2019.06,44.9,NaN,F,2,0,0,3,0,19,3
16916,136,2019.09,44.9,NaN,F,2,0,0,3,0,19,3
16917,136,2019.12,43.6,NaN,F,2,0,0,3,0,19,3
16918,136,2020.03,42.6,NaN,F,2,0,0,3,0,19,3

In [290]:
import datetime

# transactions_list['Period'] = transactions_list['Period'].map(lambda x:  datetime.date())
for i in range(0, len(transactions_list['Period'])):
    x = transactions_list['Period'][i]
    year = int(x)
    month = int((x - year)*100)+1
    transactions_list['Period'][i] = datetime.date(year, month, 1)
    
# transactions_list['Period'] = transactions_list['Period'].map(lambda x: datetime.date(int(x), (int((x - year)*100)+1), 1) )
print(transactions_list['Period'])

id
0        2001-03-01
1        2002-03-01
2        2003-03-01
3        2004-03-01
4        2005-03-01
            ...
16914    2019-03-01
16915    2019-06-01
16916    2019-09-01
16917    2019-12-01
16918    2020-03-01
Name: Period, Length: 16919, dtype: object

In [291]:
Base.metadata.create_all(engine)

series_reference_list.to_sql('series_references', engine, if_exists='append')
unit_list.to_sql('units', engine, if_exists='append')
subject_list.to_sql('subjects', engine, if_exists='append')
group_list.to_sql('groups', engine, if_exists='append')
series_title_1_list.to_sql('series_titles_1', engine, if_exists='append')
series_title_2_list.to_sql('series_titles_2', engine, if_exists='append')
series_title_3_list.to_sql('series_titles_3', engine, if_exists='append')

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "transactions" violates foreign key constraint "transactions_id_Group_fkey"
DETAIL:  Key (id_Group)=(1) is not present in table "subjects".

[SQL: INSERT INTO transactions (id, "id_Series_reference", "Period", "Data_value", "Suppressed", "STATUS", "id_UNITS", "Magnitude", "id_Subject", "id_Group", "id_Series_title_1", "id_Series_title_2", "id_Series_title_3") VALUES (%(id)s, %(id_Series_reference)s, %(Period)s, %(Data_value)s, %(Suppressed)s, %(STATUS)s, %(id_UNITS)s, %(Magnitude)s, %(id_Subject)s, %(id_Group)s, %(id_Series_title_1)s, %(id_Series_title_2)s, %(id_Series_title_3)s)]
[parameters: ({'id': 0, 'id_Series_reference': 0, 'Period': datetime.date(2001, 3, 1), 'Data_value': 2462.5, 'Suppressed': None, 'STATUS': 'F', 'id_UNITS': 0, 'Magnitude': 6, 'id_Subject': 0, 'id_Group': 0, 'id_Series_title_1': 0, 'id_Series_title_2': 0, 'id_Series_title_3': 0}, {'id': 1, 'id_Series_reference': 0, 'Period': datetime.date(2002, 3, 1), 'Data_value': 17177.2, 'Suppressed': None, 'STATUS': 'F', 'id_UNITS': 0, 'Magnitude': 6, 'id_Subject': 0, 'id_Group': 0, 'id_Series_title_1': 0, 'id_Series_title_2': 0, 'id_Series_title_3': 0}, {'id': 2, 'id_Series_reference': 0, 'Period': datetime.date(2003, 3, 1), 'Data_value': 22530.5, 'Suppressed': None, 'STATUS': 'F', 'id_UNITS': 0, 'Magnitude': 6, 'id_Subject': 0, 'id_Group': 0, 'id_Series_title_1': 0, 'id_Series_title_2': 0, 'id_Series_title_3': 0}, {'id': 3, 'id_Series_reference': 0, 'Period': datetime.date(2004, 3, 1), 'Data_value': 28005.1, 'Suppressed': None, 'STATUS': 'F', 'id_UNITS': 0, 'Magnitude': 6, 'id_Subject': 0, 'id_Group': 0, 'id_Series_title_1': 0, 'id_Series_title_2': 0, 'id_Series_title_3': 0}, {'id': 4, 'id_Series_reference': 0, 'Period': datetime.date(2005, 3, 1), 'Data_value': 30629.6, 'Suppressed': None, 'STATUS': 'F', 'id_UNITS': 0, 'Magnitude': 6, 'id_Subject': 0, 'id_Group': 0, 'id_Series_title_1': 0, 'id_Series_title_2': 0, 'id_Series_title_3': 0}, {'id': 5, 'id_Series_reference': 0, 'Period': datetime.date(2006, 3, 1), 'Data_value': 33317.4, 'Suppressed': None, 'STATUS': 'F', 'id_UNITS': 0, 'Magnitude': 6, 'id_Subject': 0, 'id_Group': 0, 'id_Series_title_1': 0, 'id_Series_title_2': 0, 'id_Series_title_3': 0}, {'id': 6, 'id_Series_reference': 0, 'Period': datetime.date(2007, 3, 1), 'Data_value': 36422.0, 'Suppressed': None, 'STATUS': 'F', 'id_UNITS': 0, 'Magnitude': 6, 'id_Subject': 0, 'id_Group': 0, 'id_Series_title_1': 0, 'id_Series_title_2': 0, 'id_Series_title_3': 0}, {'id': 7, 'id_Series_reference': 0, 'Period': datetime.date(2008, 3, 1), 'Data_value': 39198.0, 'Suppressed': None, 'STATUS': 'F', 'id_UNITS': 0, 'Magnitude': 6, 'id_Subject': 0, 'id_Group': 0, 'id_Series_title_1': 0, 'id_Series_title_2': 0, 'id_Series_title_3': 0}  ... displaying 10 of 16919 total bound parameter sets ...  {'id': 16917, 'id_Series_reference': 136, 'Period': datetime.date(2019, 12, 1), 'Data_value': 43.6, 'Suppressed': None, 'STATUS': 'F', 'id_UNITS': 2, 'Magnitude': 0, 'id_Subject': 0, 'id_Group': 3, 'id_Series_title_1': 0, 'id_Series_title_2': 19, 'id_Series_title_3': 3}, {'id': 16918, 'id_Series_reference': 136, 'Period': datetime.date(2020, 3, 1), 'Data_value': 42.6, 'Suppressed': None, 'STATUS': 'F', 'id_UNITS': 2, 'Magnitude': 0, 'id_Subject': 0, 'id_Group': 3, 'id_Series_title_1': 0, 'id_Series_title_2': 19, 'id_Series_title_3': 3})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [295]:
transactions_list['id_Subject'].unique()[0]

0

## Part 5 - Check if works