# Advanced Databases - project
## Cyber-Physical Systems
#### Authors: Rafał Bieszczad, Bartłomiej Gondek, Monika Król, Maciej Stępień

**Table of contents**
1. Part 1 - Overview
2. Part 2 - Dataset into DataFrame
3. Part 3 - Classes
4. Part 4 - Insert dataset inside classes
5. Part 5 - Check if works

## Part 1 - Overview
**Code** is avalible on [GitHub](https://github.com/TheLightPhoenix/ADBProject).\
Database is based on "*Electronic card transactions: May 2020*" **data** taken from [this website](https://www.stats.govt.nz/information-releases/electronic-card-transactions-may-2020).

## Part 2 - Dataset into DataFrame

In [1]:
from sqlalchemy import create_engine

database_type = "postgresql"
user = "postgres"
password = "postgres"
database_url = "localhost"
port = 5432
database_name = "postgres"
db_string = "{:s}://{:s}:{:s}@{:s}:{:d}/{:s}".format(database_type, user, password, database_url, port, database_name)

engine = create_engine(db_string)

In [2]:
import pandas as pd

df = pd.read_csv("../working_data/electronic-card-transactions-may-2020-csv-tables.csv")

In [3]:
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,ECTA.S19A1,2001.03,2462.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
1,ECTA.S19A1,2002.03,17177.2,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
2,ECTA.S19A1,2003.03,22530.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
3,ECTA.S19A1,2004.03,28005.1,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
4,ECTA.S19A1,2005.03,30629.6,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN

## Part 3 - Classes

## Part 4 - Insert dataset inside classes

## Part 5 - Check if works