# Advanced Databases - project
## Cyber-Physical Systems
#### Authors: Rafał Bieszczad, Bartłomiej Gondek, Monika Król, Maciej Stępień

**Table of contents**
1. Part 1 - Overview
2. Part 2 - Dataset into DataFrame
3. Part 3 - Classes
4. Part 4 - Insert dataset inside classes
5. Part 5 - Check if works

## Part 1 - Overview
**Code** is avalible on [GitHub](https://github.com/TheLightPhoenix/ADBProject).\
Database is based on "*Electronic card transactions: May 2020*" **data** taken from [this website](https://www.stats.govt.nz/information-releases/electronic-card-transactions-may-2020).

## Part 2 - Dataset into DataFrame

In [38]:
from sqlalchemy import create_engine

database_type = "postgresql"
user = "postgres"
password = "#postgres"
database_url = "localhost"
port = 5432
database_name = "postgres"
db_string = "{:s}://{:s}:{:s}@{:s}:{:d}/{:s}".format(database_type, user, password, database_url, port, database_name)

engine = create_engine(db_string)

In [39]:
import pandas as pd

df = pd.read_csv("../working_data/electronic-card-transactions-may-2020-csv-tables.csv")

In [40]:
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,ECTA.S19A1,2001.03,2462.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
1,ECTA.S19A1,2002.03,17177.2,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
2,ECTA.S19A1,2003.03,22530.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
3,ECTA.S19A1,2004.03,28005.1,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
4,ECTA.S19A1,2005.03,30629.6,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN

## Part 3 - Classes

In [41]:
ln = lambda a : len(a)

In [42]:
head = "|{:16s}|{:8s}|{:12s}|".format('col name',
                                   'max len',
                                   'unique vals')

In [43]:
print(head)
print('-'*len(head))

for i in df.columns:
    try:
        print("|{:16s}|{:8d}|{:12d}|".format(i,
                                          max(df[i].apply(ln)),
                                          len(pd.unique(df[i])) ) )
    except TypeError:
        print("|{:16s}".format(i)
              +"|"
              +" "*7
              +"-"
              +"|{:12d}|".format(len(pd.unique(df[i]))) )

|col name        |max len |unique vals |
----------------------------------------
|Series_reference|      12|         137|
|Period          |       -|         245|
|Data_value      |       -|       11679|
|Suppressed      |       -|           2|
|STATUS          |       1|           4|
|UNITS           |       7|           3|
|Magnitude       |       -|           2|
|Subject         |      45|           1|
|Group           |      69|           5|
|Series_title_1  |      19|           3|
|Series_title_2  |      59|          20|
|Series_title_3  |       -|           6|
|Series_title_4  |       -|           1|
|Series_title_5  |       -|           1|

In [44]:
from sqlalchemy import (Column,
                        Date,
                        Integer,
                        Float,
                        String)
from sqlalchemy import ForeignKey
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [45]:
class Transactions(Base):
    __tablename__ = "transactions"
    id                  = Column(Integer, primary_key=True)
    id_Series_reference = Column(Integer, ForeignKey("series_reference.id"))
    Period              = Column(Date)
    Data_value          = Column(Float)
    Suppressed          = Column(String(1))
    STATUS              = Column(String(1))
    id_UNITS            = Column(Integer, ForeignKey("units.id"))
    Magnitude           = Column(Integer)
    id_Subject          = Column(Integer, ForeignKey("subject.id"))
    id_Group            = Column(Integer, ForeignKey("subject.id"))
    id_Series_title_1   = Column(Integer, ForeignKey("series_title_1.id"))
    id_Series_title_2   = Column(Integer, ForeignKey("series_title_2.id"))
    id_Series_title_3   = Column(Integer, ForeignKey("series_title_3.id"))
    id_Series_title_4   = Column(Integer, ForeignKey("series_title_4.id"))
    id_Series_title_5   = Column(Integer, ForeignKey("series_title_5.id"))

    def __repr__(self):
        return "<match_results(id={}\
                               id_Series_reference={}\
                               Period={}\
                               Data_value={}\
                               Suppressed={}\
                               STATUS={}\
                               id_UNITS={}\
                               Magnitude={}\
                               id_Subject={}\
                               id_Group={}\
                               id_Series_title_1={}\
                               id_Series_title_2={}\
                               id_Series_title_3={}\
                               id_Series_title_4={}\
                               id_Series_title_5={}".format(self.id,
                                                            self.id_Series_reference,
                                                            self.Period,
                                                            self.Data_value,
                                                            self.Suppressed,
                                                            self.STATUS,
                                                            self.id_UNITS,
                                                            self.Magnitude,
                                                            self.id_Subject,
                                                            self.id_Group,
                                                            self.id_Series_title_1,
                                                            self.id_Series_title_2,
                                                            self.id_Series_title_3,
                                                            self.id_Series_title_4,
                                                            self.id_Series_title_5)

In [46]:
class Series_reference(Base):
    __tablename__ = "series_references"

    id = Column(Integer, primary_key=True)
    series_reference = Column(String(12))

    def __repr__(self):
        return "<match_results(id='{}', \
                               series_reference={})>".format(self.id,
                                                             self.Series_reference)

In [47]:
class Unit(Base):
    __tablename__ = "units"

    id = Column(Integer, primary_key=True)
    unit = Column(String(10))

    def __repr__(self):
        return "<match_results(id='{}', \
                               units={})>".format(self.id,
                                                  self.units)

In [48]:
class Subject(Base):
    __tablename__ = "subjects"

    id = Column(Integer, primary_key=True)
    subject = Column(String(50))

    def __repr__(self):
        return "<match_results(id='{}', \
                               subject={})>".format(self.id,
                                                    self.subject)

In [49]:
class Group(Base):
    __tablename__ = "groups"

    id = Column(Integer, primary_key=True)
    group = Column(String(10))

    def __repr__(self):
        return "<match_results(id='{}', \
                               group={})>".format(self.id,
                                                  self.group)

In [50]:
class Series_title_1(Base):
    __tablename__ = "series_titles_1"

    id = Column(Integer, primary_key=True)
    series_title_1  = Column(String(75))

    def __repr__(self):
        return "<match_results(id='{}', \
                               series_title_1={})>".format(self.id,
                                                           self.series_title_1)

In [51]:
class Series_title_2(Base):
    __tablename__ = "series_titles_2"

    id = Column(Integer, primary_key=True)
    series_title_2  = Column(String(25))

    def __repr__(self):
        return "<match_results(id='{}', \
                               series_title_2={})>".format(self.id,
                                                           self.series_title_2)

In [52]:
class Series_title_3(Base):
    __tablename__ = "series_titles_3"

    id = Column(Integer, primary_key=True)
    series_title_3  = Column(String(75))


    def __repr__(self):
        return "<match_results(id='{}', \
                               series_title_3={})>".format(self.id,
                                                           self.series_title_3)

In [53]:
class Series_title_4(Base):
    __tablename__ = "series_titles_4"

    id = Column(Integer, primary_key=True)
    series_title_4  = Column(String(50))

    def __repr__(self):
        return "<match_results(id='{}', \
                               series_title_4={})>".format(self.id,
                                                           self.series_title_4)

In [54]:
class Series_title_5(Base):
    __tablename__ = "series_titles_5"

    id = Column(Integer, primary_key=True)
    series_title_5  = Column(String(50))

    def __repr__(self):
        return "<match_results(id='{}', \
                               series_title_5={})>".format(self.id,
                                                           self.series_title_5)

## Part 4 - Insert dataset inside classes

In [55]:
df.to_sql('transactions', engine, if_exists='append')

## Part 5 - Check if works